[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib
[submodule "external/clay/clay"]
	path = external/clay/clay
	url = https://github.com/nicbarker/clay
[submodule "external/flecs"]
	path = external/flecs
	url = https://github.com/SanderMertens/flecs
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/rlimgui"]
	path = external/rlimgui
	url = https://github.com/raylib-extras/rlImGui
[submodule "external/box2d"]
	path = external/box2d
	url = https://github.com/erincatto/box2d
[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml
[submodule "external/rapidcsv"]
	path = external/rapidcsv
	url = https://github.com/d99kris/rapidcsv
[submodule "external/expected"]
	path = external/expected
	url = https://github.com/TartanLlama/expected
[submodule "external/lua"]
	path = external/lua
	url = https://github.com/lua/lua
[submodule "external/sol2"]
	path = external/sol2
	url = https://github.com/ThePhD/sol2
